@model IEnumerable<TmBugun.Models.Haber>


<div class="material-datatables">
    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead>
            <tr>
                <th><i class="material-icons small">lall_inbox</i>Haber Kategorisi</th>
                <th><i class="material-icons small">list</i>Haber Basligi</th>
                <th><i class="material-icons small">lall_inbox</i>Haber Eklenme Tarihi</th>
                <th><i class="material-icons small">dvr</i> Haber Izlenme Sayisi </th>
                <th><i class="material-icons small">favorite</i> Haber Begenme Sayisi </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><i class="material-icons small">lall_inbox</i>Haber Kategorisi</th>
                <th><i class="material-icons small">list</i>Haber Basligi</th>
                <th><i class="material-icons small">lall_inbox</i>Haber Eklenme Tarihi</th>
                <th><i class="material-icons small">dvr</i> Haber Izlenme Sayisi </th>
                <th><i class="material-icons small">favorite</i> Haber Begenme Sayisi </th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaberKategorileri.HaberKategori)
                        </td>
                        <td>
                            <a href="/Habers/details/@item.Id">
                                @Html.DisplayFor(modelItem => item.HaberBaslik)
                            </a>
                        </td>
                        <td>
                            @Html.Raw(item.HaberTarih.Date.ToString("dd MMM yyyy"))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaberIzlenmeSayi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaberBegenmeSayi)
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

