<script src="~/Scripts/jquery-3.4.1.js"></script>
@model TmBugun.Models.NormalKullanici

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<style>
    body {
        font-family: 'Mukta', sans-serif;
        height: 100vh;
        min-height: 550px;
        background-image: url(../../content/img/tm3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow-y: hidden;
    }

    a {
        text-decoration: none;
        color: #444444;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 70%;
        right: 0;
        left: 0;
        margin: auto;
        height: 400px;
        background-color: rgba(30,30,30, 0.9);
    }

    .white-panel {
        background-color: rgba(255,255, 255, 1);
        height: 500px;
        position: absolute;
        top: -50px;
        width: 50%;
        right: calc(50% - 50px);
        transition: .3s ease-in-out;
        z-index: 0;
    }

    .login-reg-panel input[type="radio"] {
        position: relative;
        display: none;
    }

    .login-reg-panel {
        color: #B8B8B8;
    }

        .login-reg-panel #label-login,
        .login-reg-panel #label-register {
            border: 1px solid #9E9E9E;
            padding: 0 5px;
            width: 150px;
            display: block;
            text-align: center;
            border-radius: 3px;
            cursor: pointer;
        }

    .login-info-box {
        width: 30%;
        padding: 0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }

    .register-info-box {
        width: 30%;
        padding: 0 50px;
        top: 20%;
        right: 0;
        position: absolute;
        text-align: left;
    }

    .right-log {
        right: 50px !important;
    }

    .login-show,
    .register-show {
        z-index: 1;
        display: none;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #242424;
        text-align: left;
        padding: 50px;
    }

    .show-log-panel {
        display: block;
        opacity: 0.9;
    }

    .login-show input[type="text"], .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .login-show input[type="submit"] {
        max-width: 150px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }

    .login-show a {
        display: inline-block;
        padding: 10px 0;
    }

    .register-show input[type="text"], .register-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .register-show input[type="submit"] {
        max-width: 150px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }

    .credit {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #3B3B25;
        margin: 0;
        padding: 0;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        z-index: 99;
    }

    a {
        text-decoration: none;
        color: #eaeaea;
    }

    .anasayfayadon {
        border: 4px solid black;
        margin: 10px;
        position: absolute;
        top: 5%;
        right: 5%;
        color: black;
        font-size: small;
        width: 20%;
        height: auto;
        text-align: center;
        padding: 5px;
    }
</style>

<body>
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>Hesabınız varmı?</h2>
            <p>Eğer hesabınız varsa Giriş Yapın</p>
            <label id="label-register" for="log-reg-show">Giriş Yap</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>Kayıtlı Hesabınız yokmu?</h2>
            <p>Hemen hızlı bir şekilde kayıt olunuz</p>
            <label id="label-login" for="log-login-show">Kaydol</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <div class="login-show">
                @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
                {
                    <h2>GİRİŞ</h2>
                    @Html.EditorFor(model => model.NormalKullanici_eposta, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Kullanıcı Epostaniz" } })
                    @Html.ValidationMessageFor(model => model.NormalKullanici_eposta)


                    @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @type = "password", @name = "pass", @placeholder = "Kullanıcı Sifreniz" } })
                    @Html.ValidationMessageFor(model => model.sifre)

                    
                    <input type="submit" value="Giriş">
                
                    <a href="" style="color:black;font-size:small">Şifreyi Kaybetdim?</a>
                    <a class="anasayfayadon" href="/home/index" style="">Ana Sayfaya Don</a>
                }
            </div>
            <div class="register-show">
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                {
                    <h2>Kaydol</h2>
                    @Html.EditorFor(model => model.KullaniciAd, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Kullanıcı Adiniz" } })
                    @Html.ValidationMessageFor(model => model.KullaniciAd)

                    @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Adiniz" } })
                    @Html.ValidationMessageFor(model => model.Ad)

                    @*@Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Soyadiniz" } })
            @Html.ValidationMessageFor(model => model.Soyad)

            @Html.EditorFor(model => model.yas, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Yasiniz" } })
            @Html.ValidationMessageFor(model => model.yas)*@

                    @Html.EditorFor(model => model.NormalKullanici_eposta, new { htmlAttributes = new { @type = "text", @name = "username", @placeholder = "Kullanıcı Epostaniz" } })
                    @Html.ValidationMessageFor(model => model.NormalKullanici_eposta)

                    @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @type = "password", @name = "pass", @placeholder = "Kullanıcı Sifreniz" } })
                    @Html.ValidationMessageFor(model => model.sifre)

                    <input type="submit" value="Kaydol">

                    <a class="anasayfayadon" href="/home/index" style="">Ana Sayfaya Don</a>
                }
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');
    });


    $('.login-reg-panel input[type="radio"]').on('change', function () {
        if ($('#log-login-show').is(':checked')) {
            $('.register-info-box').fadeOut();
            $('.login-info-box').fadeIn();

            $('.white-panel').addClass('right-log');
            $('.register-show').addClass('show-log-panel');
            $('.login-show').removeClass('show-log-panel');

        }
        else if ($('#log-reg-show').is(':checked')) {
            $('.register-info-box').fadeIn();
            $('.login-info-box').fadeOut();

            $('.white-panel').removeClass('right-log');

            $('.login-show').addClass('show-log-panel');
            $('.register-show').removeClass('show-log-panel');
        }
    });

</script>
