@using PagedList
@using PagedList.Mvc
@using TmBugun.Models
@model IPagedList<Haber>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<head>
    <title>@ViewData["kategori"]Haberleri</title>
</head>
@{
    ViewBag.Title = ViewData["kategori"] + "/t Haberleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#bb1919">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="container">
                @Html.Action("AnaSayfaKategoriler", "Haberlers", new { area = "" })

            </div>
        </div>
        @*<div class="col-12 col-md-2 col-lg-2 ">
                @Html.Action("Search", "Home", new { area = "" })
            </div>*@
    </div>
</div>

<div class="container" style="margin-top:2%;">
    <div class="text-black h5-responsive" style="font-weight:bold;margin:2% 0 2% 0">
        @ViewData["kategori"] Tur Haberleri
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="padding:10px;">
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        @Html.Raw("<img style='width:100%; height:200px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(item.HaberResim) + "\" />")
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                        <!-- Label -->
                        <h5 class="pink-text pb-2 pt-1" style="font-size:14px;">
                            @Html.DisplayFor(modelItem => item.HaberKategorileri.HaberKategori)
                        </h5>
                        <!-- Title -->
                        <h4 class="font-weight-bold card-title" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.HaberBaslik)
                        </h4>
                        <!-- Text -->
                        <p class="card-text" style="font-size:14px;">
                            @Html.Raw(item.HaberIcerik.ToString().Substring(0, (item.HaberIcerik.Length > 100) ? 100 : item.HaberIcerik.Length))
                        </p>
                        <!-- Button -->
                        <a href="~/Haberlers/HaberDetay/@item.Id" class="btn btn-unique">Devam Oku</a>

                    </div>

                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center" style="font-size:14px;">
                        @Html.Raw(item.HaberTarih.ToShortDateString())
                        @Html.Raw(item.HaberTarih.ToShortTimeString())
                        |            @Html.DisplayFor(modelItem => item.HaberKategorileri.HaberKategori)

                    </div>

                </div>
            </div>
        }
        <div class="text-center">
            @Html.PagedListPager(Model, _sayfaNo => Url.Action("KategoriHaber", "Haberlers", new { SayfaNo = _sayfaNo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< İlk", LinkToPreviousPageFormat = "< Önceki", LinkToNextPageFormat = "Sonraki >", LinkToLastPageFormat = "Son >>" })
        </div>
    </div>
</div>
<footer class="page-footer font-small" style="background-color:#4c4c4c">

    <!-- Footer Links -->
    <div class="container text-md-left" style="padding:0;">
        <h4 class="text-left" style="padding:20px 0 20px 0;font-family: 'Noto Serif', serif;">TMB ile Kesfet</h4>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-sm-6" style="border-left:1px solid white">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link">Ana Sayfa</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/haberlers/AnaSayfa">Haberler</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Sportlar</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Kultur</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-sm-6" style="border-left:1px solid white">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link " href="#!">Yemek</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#!">Canli Yayin</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Diger</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#!">Finans</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-sm-6" style="border-left:1px solid white">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-sm-6" style="border-left:1px solid white">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <div class="container" style="padding:20px 0 20px 0">

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <h6>Kullanım Şartları</h6>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <a href="/YayimciAdminSayfa/KayitIslemleri/Login">Yazar Girisi</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <h6>TMB Hakkinda</h6>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <h6>Gizlilik Politikası</h6>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <h6>TMB ile iletişim kurun</h6>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-2 col-sm-6">
                <h6>Cookies</h6>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="#"> MaksatMyrat</a>
    </div>
    <!-- Copyright -->

</footer>
