@model IEnumerable<TmBugun.Models.Sport>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12" style="padding-top:10px;">
            <a href="~/Sportlars/sportdetay/@item.Id" style="color:black;">
                @Html.Raw("<img style='width:100%; height:100%' src=\"data:image/jpeg;base64,"
                            + Convert.ToBase64String(item.SportResim) + "\" />")
                </a>
        </div>
        <div class="col-md-12" style="padding-top:20px">
            <a href="~/Sportlars/sportdetay/@item.Id" style="color:black;">

                <h5 style="font-size:18px;font-weight:bold">
                    @Html.DisplayFor(modelItem => item.SportBaslik)
                </h5>
                <p style="font-size:14px;">
                    @Html.Raw(item.SportIcerik.ToString().Substring(0, (item.SportIcerik.Length > 100) ? 100 : item.SportIcerik.Length))
                </p>
                <p>
                    @Html.Raw(item.SportTarih.Date.ToShortDateString()) |  @Html.DisplayFor(modelItem => item.SportKategorileri.SportKategori)

                </p>
            </a>

        </div>
    }
</div>

