@model IEnumerable<TmBugun.Models.Resimler>

<div class="card">
    <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
            <i class="material-icons">image</i>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4 class="card-title left">Resim Haberleri</h4>
            </div>
            <a class="col-md-3 col-sm-3 btn btn-success ml-auto" href="~/Yazar/Resimlers/Index">Tüm Resimlere Git</a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="card card-product">
                <div class="card-header card-header-image" data-header-animation="true">
                    <a href="#pablo">
                        @Html.Raw("<img class='img' style='width:100%;height:100%;' src=\"data:image/jpeg;base64,"
                                                       + Convert.ToBase64String(item.Resim) + "\"  />")
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-actions text-center">
                        <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> Resim Onar!
                        </button>
                        <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Detay" onclick="location.href='@Url.Action("Details", "Resimlers",new {id=item.Id})'">
                            <i class="material-icons">art_track</i>
                        </button>
                        <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Guncelle" onclick="location.href='@Url.Action("Edit", "Resimlers",new {id=item.Id})'">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Sil" onclick="location.href='@Url.Action("Delete", "Resimlers",new {id=item.Id})'">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="card-description">
                        @Html.Raw(item.ResimYazi.Substring(0, 100))
                    </div>
                </div>
                <div class="card-footer">
                    <div class="price">
                        <h4>
                            @Html.Raw(item.ResimEklenmeTarih.Date.ToString("dd MMM yyyy"))
                        </h4>
                    </div>
                    <div class="stats">
                        <span class="card-category"><i class="material-icons">thumb_up</i>@Html.Raw(item.ResimBegSayi)</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
