@model IEnumerable<TmBugun.Models.Haber>

@{
    ViewBag.Title = "KategoriHaber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KategoriHaber</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HaberKategorileri.HaberKategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayimci.Yayimci_ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberIzlenmeSayi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberBegenmeSayi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberResim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HaberKategorileri.HaberKategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayimci.Yayimci_ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberIzlenmeSayi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberBegenmeSayi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberResim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
