@model TmBugun.Models.Videolar

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Yazar/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Videolar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yayimci.Yayimci_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yayimci.Yayimci_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBasligi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBasligi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBegeniSayi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBegeniSayi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoEklenmeTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoEklenmeTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoYol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoYol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBasligiEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBasligiEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBasligiRU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBasligiRU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBasligiTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBasligiTR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
